h1
    {
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border: 4px solid green;
        color: red;
        padding: 3px;
        display: inline;
        position: relative;
        text-align: center;
    }
p
    {
        font-family: Impact;
        text-align: center;
    }
h2
    {
        font-family: Impact;
        text-decoration: underline;
        text-align: center;
    }
body
    {
        background-color: gray;
    }   