h1
    {
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border: 4px solid green;
        color: red;
        display: inline;
        border-spacing: 5px;
    }
p
    {
        font-family: Impact;

    }
h2
    {

    }