h1
    {
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border: 4px solid green;
        color: red;
        display: inline;
        padding: 2px;
    }
p
    {
        font-family: Impact;

    }
h2
    {
        font-family: Impact;
        text-decoration: underline color red;
    }