h1
    {
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border: 4px solid green;
        color: red;
        padding: 3px;
        display: inline;
    }
p
    {
        font-family: Impact;

    }
h2
    {
        font-family: Impact;
        text-decoration: underline;
    }
body
{
    position: absolute;
    right: 0px;
    width: 300px;
    background-color: gray;
}