h1
    {
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        border: 4px solid green;
        color: red;
        display: inline;
    }
p
    {
        font-family: Impact;
        text-align: center;

    }
h2
    {

    }