@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body {
	font-family: 'Poppins', sans-serif;
  background-color: baige;
  max-width: 600px;
  margin: 0 auto;
  padding: 12px;
  text align: center
}
h3 {
  color: orange
}
img {
  width: 100%;
  display: block;
}
p {
  line-height: 1.5;
}
